/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */

html {
    height: 100%;
    width: 1440px;
}

body {
    height: 100%;
    width: 1440px;
    margin: 0;
    font-family: Inter;
    box-sizing: border-box;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
    overflow-x: hidden; 
    background-color: #f2f2f2;
}

.navc {
    height: 120px;
    width: 1440px;

}

svg{
    transform: translatey(30px);
}

nav {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    /*  padding-top: 5% ; */
    /* padding-left: 10%; */
    padding-right: 18%; 
    color: hsl(236, 13%, 42%); 

}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 30px; 
    cursor: pointer;
    box-sizing: border-box; 
     
}

nav ul li a:hover {
    color: hsl(35, 77%, 62%);
}

nav ul li a {
    text-decoration: none;
}

.left {
    width: 60%;
    height: 100%;

}

img {
    width: 100%;
    height: 380px;
    box-sizing: border-box;
    padding-bottom: 50px;


}

.left-down {
    height: 260px;
    width: 100%;
    display: flex;
    gap: 50px;


}

.left-left {
    width: 50%;
    font-size: 60px;
    font-weight: 700;
    line-height: 0.9;

}

.left-rigth {
    width: 50%;
    font-size: 15px;
    color: hsl(236, 13%, 42%);
    line-height: 1.4;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    background-color: hsl(5, 85%, 63%);
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    font-family: Inter;
    letter-spacing: 5px;
    transform: translatey(-40px);
    cursor: pointer;
    
} 

button:hover{
    background-color: black;
} 

.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 40px;
}

.right{
    background-color: hsl(240, 100%, 5%);
    width: 35%;
    padding: 30px;
    color: white;
    
    
} 

h1{
    color: hsl(35, 77%, 62%);
} 

h4{
    color: white;
    cursor: pointer;
} 

h4:hover{
    color:  hsl(35, 77%, 62%);
}

p{
    color:hsl(236, 13%, 42%); 
    padding-bottom: 60px;
} 

hr{
    background-color: hsl(236, 13%, 42%);
    height: 3px;
    border: none;
}  

.footer-main{ 
    height: 120px;
    display: flex;
    transform: translatey(60px);
    flex-direction: row;
    justify-content: space-between; 
    
}

.footer-main img{
    width: 100px;
    height: 170px;
   
   
}  

.proba{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
   
}
    


.footer-first{
    width: 280px;
    height: 120px; 
    display: flex;
    flex-direction: row; 
    gap: 0px 20px; 
   
    
}

.footer-second{
    width: 280px;
    height: 120px;
    display: flex; 
    flex-direction: row;
    gap: 0px 20px;
    transform: translatex(-70px);

}  




.footer-theard{
    width: 300px;
    height: 120px;
    display: flex; 
    flex-direction: row; 
    gap: 0px 20px; 
    transform: translatex(-147px);
}

 .midlle-txt{
    font-size: 14px;
    color: hsl(240, 100%, 5%);
    font-weight: bold; 
    cursor: pointer;
} 

.midlle-txt:hover{
    color: hsl(5, 85%, 63%);
}

.footer-main p{
    font-size: 24px;
    font-weight: bold; 
    margin: 0;
    padding: 0; 
   color:  hsl(236, 13%, 42%); 
   gap: 0, 20px;
    
} 

.down-txt{
    font-size: 12px; 
    color: hsl(236, 13%, 42%); 
    line-height: 1.7;
}

